---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section>
  <h2>{title}</h2>
  <slot />
</section>

<style>
  section:not(:first-child) > :first-child {
    margin-block-start: 4rem;
  }
</style>
