---
interface Props {
  by: string;
}

const { by } = Astro.props;
---

<blockquote>
  <p class="content"><slot /></p>
  <p class="source">{by}</p>
</blockquote>

<style>
  blockquote {
    margin-inline-start: 0;
    display: flex;
    flex-direction: column;
  }

  p {
    max-width: 40ch;
  }

  .content {
    overflow: hidden;
  }

  .source {
    font-weight: bold;
  }

  p :global(.zalgo) {
    font-family: sans-serif;
  }
</style>
