---
import { emoji } from '@lib/svg';
import $favicon from '@store/$favicon';
import $title from '@store/$title';
import '@fontsource/ibm-plex-mono';
---

<script>
  import posthog from 'posthog-js';
  import { emoji } from '@lib/svg';
  import $favicon from '@store/$favicon';
  import $title from '@store/$title';

  posthog.init('phc_j0xjXbiokyQ8kfJ9kLXN6zryPicsZ0HCAaJ4dRwOPPy', {
    api_host: 'https://app.posthog.com',
    persistence: 'memory',
  });

  const elem = document.querySelector('title')!;
  $title.subscribe((x) => {
    elem.textContent = x;
  });

  const icon = document.querySelector<HTMLLinkElement>('link[rel="icon"]')!;
  $favicon.subscribe((x) => {
    icon.href = emoji(x);
  });
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{$title.value}</title>
    <link rel="icon" href={emoji($favicon.value)} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @import 'modern-normalize';

  * {
    font-family: 'IBM Plex Mono', 'Courier New', monospace;
  }

  html,
  body {
    width: 100%;
  }
</style>
